.flex-cont{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.flex-right{
    display: flex;
    justify-content: end;
}

.govuk-tag {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    display: inline-block;
    max-width: 250px;
    margin-top: 6px;
    margin-bottom: -3px;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
    text-decoration: none;
    overflow-wrap: break-word;
}

.flex-vert-centre {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.govuk-button::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
}

.moj-button-menu__toggle-button[aria-expanded=true]:after {
    background-image: url(../images/icon-arrow-white-up.svg);
}