{% extends "layouts/main.html" %}

{% set pageName = "Claims" %}

{% block content %}




    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    {% include "_includes/secondary-navigation-claims.njk" %}

      <div class="app-filter-layout">
        <div class="app-filter-layout__filter">
          {% include "_includes/filter-panel.njk" %}
        </div>
        <div class="app-filter-layout__content">

          {% include "_includes/search-form.njk" %}

          <div class="app-action-bar">
            <div class="app-action-bar__filter"></div>
          </div>

          {{ data | log }}
          {% if data.organisations.length %}
          {# Taken from current proto for styling #}
          <div class="app-claim-cards">
            {% for organisation in data.organisations %}
              <section class="app-claim-card">
                <header class="app-claim-card__header">
                  <h3 class="govuk-heading-s govuk-!-width-two-thirds">
                    <a href="/organisations/{{organisation.details.id}}" class="govuk-link govuk-link--no-visited-state">
                      {{organisation.details.name}}
                    </a>
                  </h3>
                  {{ govukTag({
                    text: organisation.details.status,
                    classes: organisation.details.status | statusColour
                  }) }}
                </header>
  
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <dl class="app-claim-card__list">
                      <dt class="govuk-visually-hidden">Accredited provider</dt>
                      <dd class="govuk-body-s  govuk-!-margin-bottom-1">
                        {{ organisation.details.provider }}
                      </dd>
                    </dl>
                  </div>
  
                  <div class="govuk-grid-column-one-third">
                    <dl class="app-claim-card__list app-claim-card__list--secondary">
                      <dt class="govuk-visually-hidden">Submitted on</dt>
                      <dd class="govuk-body-s govuk-!-margin-bottom-1">
                        {{ organisation.details.date }}
                      </dd>
                      <dt class="govuk-visually-hidden">Total amount</dt>
                      <dd class="govuk-body-s  govuk-!-margin-bottom-1">
                        {{ organisation.details.cost  }}
                      </dd>
                    </dl>
                  </div>
                </div>
              </section>
            {% endfor %}
          </div>
          {% else %}
        <p>There are no results.</p>
      {% endif %}
        
      </div>

{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>
{% endblock %}