{% extends "layouts/main.html" %}

{% set pageName = "Sampling complete" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "sampling-claims" %}

{% block content %}




    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm and mark as complete",
        href: 'sampling-success'
      }) }}
    
      {{ govukButton({
        text: "Cancel",
        href: 'sampling',
        classes: "govuk-button--secondary"
      }) }}
    </div>

    {% include "_includes/secondary-navigation-claims.njk" %}

    {% include "_includes/claim-card.njk" %}

    


{% endblock %}


