{% extends "layouts/main.html" %}

{% set pageName = "Complete claims" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "sampling-claims" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6" 
  }) }}
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm claims as completed",
        href: 'sampling-success'
      }) }}
    
    </div>

    {# {{ mojPageHeaderActions({
      heading: {
        text: pageName,
        classes: 'govuk-heading-l'
      },
      items: [{
        text: "Confirm completed claims",
        href: 'sampling-success',
        classes: 'govuk-button--primary'
      }]
    }) }} #}

    {# {{ govukWarningText({
      text: "If you mark these claims complete status will change etc blah blah.",
      iconFallbackText: "Warning",
      classes: "govuk-!-margin-top-6"
    }) }} #}

    <p class="govuk-body">If you mark these claims complete status will change etc blah blah</p>

    {# {% include "_includes/secondary-navigation-claims.njk" %} #}


    {# {% include "_includes/claim-card.njk" %} #}

    <table class="govuk-!-margin-top-6 govuk-table govuk-table--small-text-until-tablet">
      {# <caption class="govuk-table__caption govuk-table__caption--m">Claims to be marked complete</caption> #}
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header">Provider</th>
          <th scope="col" class="govuk-table__header">Amount</th>
          <th scope="col" class="govuk-table__header">Date</th>
        </tr>
      
        <tr class="govuk-table__row">
          <td scope="govuk-table__cell">Wireless school</td>
          <td class="govuk-table__cell">National Institute of Teaching</td>
          <td class="govuk-table__cell">£863.60</td>
          <td class="govuk-table__cell">1 May 2024</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="govuk-table__cell">Best of breed school</td>
          <td class="govuk-table__cell">Best Practice Network</td>
          <td class="govuk-table__cell">£5820.00</td>
          <td class="govuk-table__cell">2 November 2023</td>
        </tr>
      </tbody>
    </table>

    


{% endblock %}


