{% extends "layouts/main.html" %}

{% set pageName = "Complete claims" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "sampling-claims" %}

{% block content %}

    {# <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm completed claims",
        href: 'sampling-success'
      }) }}
    
      {{ govukButton({
        text: "Cancel",
        href: 'sampling',
        classes: "govuk-button--secondary"
      }) }}
    </div> #}

    {{ mojPageHeaderActions({
      heading: {
        text: pageName,
        classes: 'govuk-heading-l'
      },
      items: [{
        text: "Confirm completed claims",
        href: 'sampling-success',
        classes: 'govuk-button--primary'
      }, {
        text: "Cancel",
        href: 'sampling',
        classes: 'govuk-button--secondary'
      }]
    }) }}

    {# {{ govukWarningText({
      text: "If you mark these claims complete status will change etc blah blah.",
      iconFallbackText: "Warning",
      classes: "govuk-!-margin-top-6"
    }) }} #}

    <p class="govuk-body">If you mark these claims complete status will change etc blah blah</p>

    {% include "_includes/secondary-navigation-claims.njk" %}


    {# {% include "_includes/claim-card.njk" %} #}

    <table class="govuk-!-margin-top-6 govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--m">Claims to be marked complete</caption>
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header">Provider</th>
          <th scope="col" class="govuk-table__header">Amount</th>
          <th scope="col" class="govuk-table__header">Date</th>
        </tr>
      
        <tr class="govuk-table__row">
          <td scope="govuk-table__cell">Name of school/org</td>
          <td class="govuk-table__cell">National Institute of Teaching</td>
          <td class="govuk-table__cell">£3,454.35</td>
          <td class="govuk-table__cell">22 September 2023</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="govuk-table__cell">Name of school/org</td>
          <td class="govuk-table__cell">National Institute of Teaching</td>
          <td class="govuk-table__cell">£684.60</td>
          <td class="govuk-table__cell">22 September 2023</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="govuk-table__cell">Name of school/org</td>
          <td class="govuk-table__cell">National Institute of Teaching</td>
          <td class="govuk-table__cell">£1,284.60</td>
          <td class="govuk-table__cell">10 December 2023</td>
        </tr>
      </tbody>
    </table>

    


{% endblock %}


