{% extends "layouts/main.html" %}

{% set primaryNavId = "claims" %}
{% set secondaryNavId = "sampling" %}
{% set filters = req.session.data.filters %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6 govuk-!-display-block" 
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You cannot mark these claims as Sampled and processed</h1>
        <p class="govuk-body">You can mark claims as Sampled and processed once you have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>received a revised sampling CSV back from your provider</li>
            <li>uploaded the revised sampling CSV</li>
            <li>located any claims in the CSV tagged as 'approved' - these can now have their status changed to 'Sampled and processed'</li>
          </ul>
        <div class="govuk-button-group">
          <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
        </div>
      </div>
    </div>
  </main>
</div>

        
{% endblock %}