{% extends "layouts/main.html" %}

{% set pageName = organisation.orgName %}
{% set primaryNavId = "organisations" %}
{% set secondaryNavId = "details" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6 govuk-!-display-block" 
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageName }}</h1>

    

      {% include "_includes/secondary-navigation.njk" %}

      {{ data.claims | log }}

      {% include "_includes/organisation-details.njk" %}

      {% include "_includes/grant-conditions.njk" %}

      {% include "_includes/grant-funding.njk" %}

      {# pass this to contact details include #}
      {% set address %}
        {{ appAddress ({ address: organisation.orgAddress }) }}
      {% endset %}
      

      {% include "_includes/contact-details.njk" %}

      
    </div>
  </div>
{% endblock %}
