{% extends "layouts/main.html" %}

{% set pageName = claim.orgName %}
{% set primaryNavId = "organisations" %}
{% set secondaryNavId = "details" %}
{% set orgAddress = claim.orgAddress %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageName }}</h1>

    

      {% include "_includes/secondary-navigation.njk" %}

      {{ data.claims | log }}


      {% include "_includes/organisation-details.njk" %}

      {% include "_includes/grant-conditions.njk" %}

      {% include "_includes/grant-funding.njk" %}

      {# pass this to contact details include #}
      {% set address %}
        {{ appAddress ({ address: orgAddress }) }}
      {% endset %}
      

      {% include "_includes/contact-details.njk" %}

      
    </div>
  </div>
{% endblock %}
