{% extends "layouts/main.html" %}

{% set pageName = organisation.details.name %}
{% set primaryNavId = "organisations" %}
{% set secondaryNavId = "details" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageName }}</h1>

    

      {% include "_includes/secondary-navigation.njk" %}


      {{ data.pageName | log }}

      {% include "_includes/organisation-details.njk" %}

      {% include "_includes/grant-conditions.njk" %}

      {% include "_includes/grant-funding.njk" %}

      {# pass this to contact details include #}
      {% set address %}
        {{appAddress({ address: organisation.details.address })}}
      {% endset %}
      

      {% include "_includes/contact-details.njk" %}

      
    </div>
  </div>
{% endblock %}
