{% extends "layouts/main.html" %}

{% set pageName = "Claims" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "clawback" %}
{% set filters = req.session.data.filters %}

{% block content %}

<h1 class="govuk-heading-xl">{{ pageName }}</h1>


    {% include "_includes/secondary-navigation.njk" %}

    <h2 class="govuk-heading-l">Clawback</h2>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Start clawback",
        classes: "govuk-button--secondary"
      }) }}
      <a class="govuk-link" href="#">Download CSV</a>
      <a class="govuk-link" href="clawback-new/upload.html">Upload CSV</a>
    </div>

    {% include "_includes/clawback-card.njk" %}

  

        {{ data | log }}
        
{% endblock %}

