{% extends "layouts/main.html" %}

{% set pageName = "Update claim" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "clawback" %}

{% set html %}
  <h3 class="govuk-notification-banner__heading">
    Claim revised for clawback
  </h3>
{% endset %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

    {# {% include "_includes/secondary-navigation.njk" %} #}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">     

    
        
        {{ govukNotificationBanner({
          html: html,
          type: "success"
        }) }} 


        <span class="govuk-caption-l">Claim - 63737373</span>
        <h1 class="govuk-heading-l">SNKBSDGBDSLGFBDFG

        {{ govukTag({
          text: clawbackDetails.status,
          classes: clawbackDetails.status | statusColour
        }) }}

      </h1>
  
        <p class="govuk-body">Submitted by Jim Newton on 28 March 2024.</p>
  
  
        
  
    {{ data | log }}
        
    {{ govukButton({
      text: "Save and continue"
    }) }}
{% endblock %}

