{% extends "layouts/main.html" %}

{% set pageName = "Update claim" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "clawback" %}
{% set filters = req.session.data.filters %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

    {# {{ mojPageHeaderActions({
      heading: {
        text: pageName,
        classes: 'govuk-heading-l'
      },
      items: [{
        text: "Start clawback",
        href: '#',
        classes: 'govuk-button--primary'
      },{
        text: "Download CSV",
        href: '#',
        classes: 'govuk-button--secondary'
      },{
        text: "Upload CSV",
        href: '#',
        classes: 'govuk-button--secondary'
      }]
    }) }} #}


    {% include "_includes/secondary-navigation.njk" %}
  

  

        {{ data | log }}
        
{% endblock %}

