{% extends "layouts/main.html" %}

{% set pageName = "Update claim" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "clawback" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6 govuk-!-display-block" 
  }) }}
{% endblock %}

{% block content %}

    {# {% include "_includes/secondary-navigation.njk" %} #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <span class="govuk-caption-l">Claim - {{ clawbackDetails.claimRef }}</span>
        <h1 class="govuk-heading-l">{{ clawbackDetails.orgName }}

        {{ govukTag({
          text: clawbackDetails.status,
          classes: clawbackDetails.status | statusColour
        }) }}

        </h1>
  
        <p class="govuk-body">Submitted by Jim Newton on 28 March 2024.</p>
  
  
        {# claim details #}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Organisation"
              },
              value: {
                html: '<a href="/organisations/{{claim.id}}">' + clawbackDetails.orgName + '</a>'
              }
            },
            {
              key: {
                text: "Accredited provider"
              },
              value: {
                text: clawbackDetails.provider
              }
            },
            {
              key: {
                text: "Mentors"
              },
              value: {
                text: clawbackDetails.mentor
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}
        
        {# Hours of training #}
        <h2 class="govuk-heading-m govuk-!-margin-top-9">
          Hours of training
        </h2>
        
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: clawbackDetails.mentor
              },
              value: {
                text: "20 hours"
              }
            }
          ]
        }) }}
  
        {# Grant funding   #}
        <h2 class="govuk-heading-m govuk-!-margin-top-9">
          Grant funding
        </h2>
        
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Total hours"
              },
              value: {
                text: clawbackDetails.hoursOfTraining
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Hourly rate"
              },
              value: {
                text: clawbackDetails.hourlyRate
              }
            },
            {
              key: {
                text: "Claim amount"
              },
              value: {
                text: clawbackDetails.amount | currency
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}
  
        {# pass this to contact details include #}
        {% set address %}
          {{appAddress({ address: organisation.address })}}
        {% endset %}
        
      </div>
    </div>

    <form method="post" action="/clawback-new/show">
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

    {{ data | log }}
        
{% endblock %}

