

<div class="govuk-!-margin-top-6 flex-vert-centre" data-module="govuk-checkboxes">
    <h3 class="govuk-heading-s"><span >(XX) claims</span></h3>            
  <div class="flex-right">
    <p class="govuk-body"><a href="#" class="govuk-link govuk-!-margin-right-2">Select all  </a>  |  <a href="#" class="govuk-link govuk-!-margin-left-2">  Select all on this page</a></p>
  </div>  
</div>

<div class="govuk-button-group">
  {{ govukButton({
    text: "Sampled and processed",
    classes: "govuk-button--secondary"
  }) }}
  {{ govukButton({
    text: "Send to clawback",
    classes: "govuk-button--secondary"
  }) }}
</div>