<div class="x-govuk-related-navigation govuk-!-padding-left-6">
  <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
    <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
      Previous versions
    </h2>
      <a class="govuk-link" href="#">View claim 265831</a>
    <ul class="x-govuk-related-navigation__link-listgovuk-list govuk-list--bullet ">
      <li>
       <p class="govuk-body-s">Submitted by Jim Newton on 28 March 2024</p>
      </li>
      <li>
       <p class="govuk-body-s">Mentors: Phoebe Reichel-Cormier</p>
      </li>
      <li>
       <p class="govuk-body-s">Total hours:	4</p>
      </li>
    </ul>
  </nav>
</div>