{% set orgEmailAddress = claim.orgEmailAddress %}
{% set orgPhone = claim.orgPhone %}
{% set orgWebsite = claim.orgWebsite %}

<h2 class="govuk-heading-m govuk-!-margin-top-9">
  Contact details
</h2>


{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Email address"
      },
      value: {
        text: organisation.orgEmailAddress if organisation.orgEmailAddress.length else "Not entered",
        classes: "govuk-hint" if not organisation.orgEmailAddress.length
      }
    },
    {
      key: {
        text: "Telephone number"
      },
      value: {
        text: organisation.orgPhone if organisation.orgPhone.length else "Not entered",
        classes: "govuk-hint" if not organisation.orgPhone.length
      }
    },
    {
      key: {
        text: "Website"
      },
      value: {
        text: (organisation.orgWebsite | urlize | safe) if organisation.orgWebsite.length else "Not entered",
        classes: "govuk-hint" if not organisation.orgWebsite.length
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: address
      }
    }
  ]
}) }}