{% if data.claims.length %}
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row govuk-!-font-size-16">
        <th class="govuk-table__header" scope="col">Claim reference</th>
        <th class="govuk-table__header" scope="col">Provider</th>
        <th class="govuk-table__header" scope="col">Sent to provider</th>
        <th class="govuk-table__header" scope="col">Claim amount</th>
        <th class="govuk-table__header" scope="col">Action</th>
      </tr>
    </thead>
    
    <tbody class="govuk-table__body">
      {% for claim in data.claims %}
      {% if claim.status == 'Sampling' and claim.provider == 'Best Practice Network' %}
      <tr class="govuk-table__row govuk-!-font-size-16">
        <td class="govuk-table__cell">{{ claim.claimRefandNum }}</td>
        <td class="govuk-table__cell">{{ claim.provider }}</td>
        <td class="govuk-table__cell">{{ claim.daysSinceClaim }}</td>
        <td class="govuk-table__cell">{{ claim.amount | currency }}</td>
        <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-size-16"><a href="/sampling/{{claim.id}}" class="govuk-link">Review claim</a></p></td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  
{% else %}
      <p>There are no results.</p>
{% endif %}
