<h2 class="govuk-heading-m govuk-!-margin-top-9">
  Grant conditions
</h2>

{% if organisation.conditionsAgreed %}
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Agreed by"
        },
        value: {
          text: organisation.conditionsAgreedBy | getUserName
        }
      },
      {
        key: {
          text: "Agreed on"
        },
        value: {
          text: "some date"
        }
      }
    ]
  }) }}

  <p class="govuk-body">
    <a href="/grant-conditions" class="govuk-link">View grant conditions</a>
  </p>
{% else %}
  <p class="govuk-body">
    <a href="#" class="govuk-link">Review and agree to grant conditions</a>
  </p>
{% endif %}