{{ govukPagination({
  classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-2",

  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

<p class="govuk-body govuk-!-margin-top-0">Showing 1 to 20 of 383 results</p>
