  {{ xGovukPrimaryNavigation({
      visuallyHiddenTitle: "Navigation",
      items: [{
        text: "Organisations",
        href: "/organisations",
        current: (primaryNavId == "organisations")
      },{
        text: "Claims",
        href: "/claims",
        current: (primaryNavId == "claims")
      }, {
        text: "Support users",
        href: "/support",
        current: (primaryNavId == "support-users")
      }]
    }) if data.user }}

