{% if data.organisations.length %}
  <div class="app-list app-list--checkboxes">
    {% for organisation in data.organisations %}
    {% if organisation.details.claim == 'Sampling' %}
      <div class="app-list__item">

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="#">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              <span class="govuk-visually-hidden">Select</span>
            </label>
          </div>
        </div>

        <div class="app-list__contents">

          <h3 class="govuk-heading-s govuk-!-width-two-thirds">
            <a href="/organisations/{{organisation.details.id}}" class="govuk-link govuk-link--no-visited-state">
              {{organisation.details.claimRef}}
            </a>
          </h3>

          {{ govukTag({
            text: organisation.details.claim,
            classes: organisation.details.claim | statusColour
          }) }}

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <dt class="govuk-visually-hidden">Accredited provider</dt>
                  <dd class="govuk-body-s  govuk-!-margin-bottom-1">
                    {{ organisation.details.provider }}
                  </dd>
            </div>

            <div class="govuk-grid-column-one-third">
              <dt class="govuk-visually-hidden">Submitted on</dt>
                <dd class="govuk-body-s govuk-!-margin-bottom-1">
                  {{ organisation.details.date | govukDate  }}
                </dd>
              <dt class="govuk-visually-hidden">Total amount</dt>
                <dd class="govuk-body-s  govuk-!-margin-bottom-1">
                  {{ organisation.details.cost  }}
                </dd>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
        <p>There are no results.</p>
  {% endif %}
