
{{ xGovukSecondaryNavigation({
  visuallyHiddenTitle: "Secondary menu",
  items: [{
    text: "All claims",
    href: "/claims",
    current: (secondaryNavId == "all-claims"),
    classes: "govuk-!-margin-bottom-6"
  }, {
    text: "Sampling",
    href: "/sampling",
    current: (secondaryNavId == "sampling")
  }]
}) if data.user }}