
{{ xGovukSecondaryNavigation({
  visuallyHiddenTitle: "Secondary menu",
  classes: "govuk-!-margin-bottom-6",
  items: [{
    text: "All claims",
    href: "/claims",
    current: (secondaryNavId == "all-claims")
  },{
    text: "Payments",
    href: "/payments",
    current: (secondaryNavId == "payments")
  },{
    text: "Sampling",
    href: "/sampling",
    current: (secondaryNavId == "sampling")
  },{
    text: "Clawback",
    href: "/clawback",
    current: (secondaryNavId == "clawback")
  }]
}) if data.user }}