{% extends "layouts/main.html" %}

{% set pageName = "Upload sample claims" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "sampling" %}


{% block content %}
<h1 class="govuk-heading-l">{{pageName}}</h1>
{% include "_includes/secondary-navigation.njk" %}
    <form method="post" action="/sampling">
      <div id="file-upload-1-hint" class="govuk-hint  govuk-!-margin-top-6">
        <ol class="govuk-list govuk-list--number">
          <li>Fetch the download CSV of sample claims</li>
          <li>Upload it</li>
          <li>Do we need any other instructions for the user here????</li>
        </ol>
      </div>

      <p class="govuk-body" aria-live="polite">1 file uploaded</p>

      {{ govukButton({
        text: "Upload CSV",
        classes: "govuk-button--secondary"
      }) }}

      <p class="govuk-body govuk-!-display-none" id="refreshPageProgress"><a href="#" class="govuk-link">Refresh page to update file upload progress</a></p>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--long-key',
        rows: [
          {
            key: {
              html: '<a class="govuk-link" href="#">sample-claims.csv</a>'
            },
            value: {
              text: govukTag({ text: "Uploaded", classes: "govuk-tag--green" })
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "receipt1.jpg"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        href: "/sampling/list"
      }) }}
    </form>
{% endblock %}