{% extends "layouts/main.html" %}

{% set pageName = "Claims" %}
{% set subheadName = "Sampling" %}

{% set primaryNavId = "claims" %}
{% set secondaryNavId = "sampling" %}

{# {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6 govuk-!-display-block" 
  }) }}
{% endblock %} #}


{% block content %}
<h1 class="govuk-heading-l">{{ pageName }}</h1>

{% include "_includes/secondary-navigation.njk" %}
<h2 class="govuk-heading-m">{{ subheadName }}</h2>

<p class="govuk-body">In sampling, you can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>trigger an email and CSV file to be sent to a provider by selecting 'Send claims provider'</li>
  <li>upload a CSV with claims which ara part of the sampling process</li> 
</ul>

<form method="post" action="/sampling/review">
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Send claims to provider",
      href: "/payments/review"
    }) }}
  
    {{ govukButton({
      text: "Upload sampling claims",
      classes: "govuk-button--secondary",
      href: "/sampling/upload"
    }) }}
  </div>
</form>
{% endblock %}