{% extends "layouts/main.html" %}

{% set pageName = "Upload sample claims" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "sampling" %}


{% block content %}
<h1 class="govuk-heading-l">{{pageName}}</h1>
{% include "_includes/secondary-navigation.njk" %}
    <form method="post" action="/sampling">
      <div id="file-upload-1-hint" class="govuk-hint  govuk-!-margin-top-6">
        <ol class="govuk-list govuk-list--number">
          <li>Fetch the download CSV of sample claims</li>
          <li>Upload it</li>
          <li>Do we need any other instructions for the user here????</li>
        </ol>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a CSV
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
      </div>

      {{ govukButton({
        text: "Save and continue",
        href: "/sampling/list"
      }) }}
    </form>
{% endblock %}