{% extends "layouts/main.html" %}

{% set pageName = "Claims - Sampling" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "sampling" %}
{% set filters = req.session.data.filters %}

{% block content %}



  
<div class="moj-page-header-actions">

  <div class="moj-page-header-actions__title">
    <h1 class="govuk-heading-xl">Claims - Sampling</h1>
  </div>

  <div class="moj-page-header-actions__actions">

    <div class="moj-button-menu">
      <div class="moj-button-menu__wrapper">

        <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
          Download CSV
        </button>

        <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
          Upload CSV
        </button>

        <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
          Sampled and processed
        </button>

        <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
          Clawback required
        </button>

      </div>
    </div>

  </div>

</div>




    


    {% include "_includes/secondary-navigation.njk" %}

    <div class="app-filter-layout">
      <div class="app-filter-layout__filter">
        {% include "_includes/filter-panel.njk" %}
      </div>

      <div class="app-filter-layout__content">

        {% include "_includes/search-form-claims.njk" %}

        <div class="app-action-bar">
          <div class="app-action-bar__filter"></div>
        </div>

        {{ data | log }}
    
       {% include "_includes/samples-card.njk" %}
       {% include "_includes/pagination.njk" %}
        
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })


    new MOJFrontend.ButtonMenu({
      container: document.querySelector(".moj-button-menu"),
      mq: "(min-width: 200em)",
      buttonText: "Actions",
      menuClasses: "moj-button-menu__wrapper--right",
    });
  </script>
{% endblock %}