{% extends "layouts/main.html" %}

{% set pageName = "Upload sample file" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "sampling" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6" 
  }) }}
{% endblock %}


{% block content %}
{% include "_includes/secondary-navigation-claims.njk" %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-6">{{pageName}}</h1>

    <div id="file-upload-1-hint" class="govuk-hint">
        The selected file must be smaller than 100MB.
    </div>

    <p class="govuk-body" aria-live="polite">1 file uploaded</p>

    {{ govukButton({
      text: "Upload sample",
      classes: "govuk-button--secondary"
    }) }}

    <p class="govuk-body govuk-!-display-none" id="refreshPageProgress"><a href="#" class="govuk-link">Refresh page to update file upload progress</a></p>

    {{ govukSummaryList({
      classes: 'govuk-summary-list--long-key',
      rows: [
        {
          key: {
            html: '<a class="govuk-link" href="#">receipt1.jpg</a>'
          },
          value: {
            text: govukTag({ text: "Uploaded", classes: "govuk-tag--green" })
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Remove",
                visuallyHiddenText: "receipt1.jpg"
              }
            ]
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
</div>
   
   


{% endblock %}


