{% extends "layouts/main.html" %}


{% set pageName = "Payments" %}
{% set subheadName = "You cannot download this file" %}
{% set primaryNavId = "claims" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6 govuk-!-display-block" 
  }) }}
{% endblock %}


{% block content %}
<span class="govuk-caption-l">{{ pageName }}</span>
<h1 class="govuk-heading-l">{{ subheadName }}</h1>

<p class="govuk-body">This is because the download link has expired.</p>
<p class="govuk-body">**- Something about what they need to do next here. -**</p>
{# <ul class="govuk-list govuk-list--bullet">
  <li>there is no CSV of submitted claims ready for payment</li>
</ul> #}

  <p class="govuk-body"><a class="govuk-link" href="sent2">Cancel</a></p>

{% endblock %}