{% extends "layouts/main.html" %}


{% set pageName = "Payments" %}
{% set subheadName = "You cannot upload a response from ESFA" %}
{% set primaryNavId = "claims" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6 govuk-!-display-block" 
  }) }}
{% endblock %}


{% block content %}
<span class="govuk-caption-l">{{ pageName }}</span>
<h1 class="govuk-heading-l">{{ subheadName }}</h1>

<p class="govuk-body">This is because:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>there has been no extract sent to ESFA **Rachel to check**</li>
</ul>

  <p class="govuk-body"><a class="govuk-link" href="/payments">Cancel</a></p>
  
{% endblock %}