{% extends "layouts/main.html" %}

{% set pageName = "Claims" %}
{% set subheadName = "Payments" %}

{% set primaryNavId = "claims" %}
{% set secondaryNavId = "payments" %}

{# {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6 govuk-!-display-block" 
  }) }}
{% endblock %} #}


{% block content %}
<h1 class="govuk-heading-l">{{ pageName }}</h1>

{% include "_includes/secondary-navigation.njk" %}
<h2 class="govuk-heading-m">{{ subheadName }}</h2>

<p class="govuk-body">In Payments, you can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>trigger an email and CSV file to be sent to ESFA by selecting 'Send claims to ESFA'</li>
  <li>upload a CSV from ESFA if they need further information</li> 
</ul>

<form method="post" action="/payments/review">
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Send claims to ESFA",
      href: "/payments/review"
    }) }}
  
    {{ govukButton({
      text: "Upload ESFA response",
      classes: "govuk-button--secondary",
      href: "/payments/list-info-required"
    }) }}
  </div>
</form>
{% endblock %}