{% extends "layouts/main.html" %}

{% set pageName = "Payments" %}
{% set subheadName = "Do you want to send these claims to ESFA for payment?" %}

{% set primaryNavId = "claims" %}
{# {% set secondaryNavId = "payments" %} #}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6 govuk-!-display-block" 
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ pageName }}</span>
    <h1 class="govuk-heading-l">{{ subheadName }}</h1>

  
      <p class="govuk-body">This action cannot be undone.</p>
      <p class="govuk-body">The status of these claims will automatically update to 'Processed'.</p>

      <form method="post" action="/payments/list-sent-esfa">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Send email to ESFA",
            href: "sent2"
          }) }}
        </div>
      </form>
     <p class="govuk-body"><a class="govuk-link" href="/payments">Cancel</a></p> 
  </div>
</div>


{% endblock %}