{% extends "layouts/main.html" %}
{% set primaryNavId = "claims" %}
{% set pageName = "Payments" %}
{% set subheadName = "Claims sent to ESFA" %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    <span class="govuk-caption-l">{{ pageName }}</span>
    <h1 class="govuk-heading-l">{{ subheadName }}</h1>

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
      head: [
        {
          text: "Date"
        },
        {
          text: "Sent by"
        }
      ],
      rows: [
        [
          {
            text: "28 August 2024"
          },
          {
            text: "[support team member name]"
          }
        ]
      ]
    }) }}

   <h2 class="govuk-heading-m govuk-!-margin-top-8">What happens next</h2>
    <ol class="govuk-list govuk-list--number">
      <li>ESFA will return a response CSV</li>
      <li>Upload the CSV in the payments tab to show the claims</li>
    </ol>

    <p class="govuk-body"><a class="govuk-link" href="/claims">Go to all claims</a></p> 
      
  </div>
</div>


{% endblock %}