{% extends "layouts/main.html" %}
{% set pageName = "Updated clawback" %}
{% set primaryNavId = "claims" %}
{% set secondaryNavId = "clawback" %}

{% set html %}
  <h3 class="govuk-notification-banner__heading">
    Claim updated
  </h3>
{% endset %}




{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6 govuk-!-display-block" 
  }) }}
{% endblock %}

{% block content %}
{{ data | log}}

{# {% include "_includes/secondary-navigation.njk" %} #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">     
    {{ govukNotificationBanner({
      html: html,
      type: "success"
    }) }} 
  </div>
</div>  

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">     
    <span class="govuk-caption-l">Claim - 265831</span>
        <h1 class="govuk-heading-l">plug-and-play school  
          {{ govukTag({
            text: 'Claim updated',
            classes: "govuk-tag--red"
          }) }}
        </h1>
        
        <p class="govuk-body">Submitted by Jim Newton on 16 August 2024.</p>


        {# claim details #}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Academic year"
              },
              value: {
                text: "2022 to 2023"
              }
            },
            {
              key: {
                text: "Accredited provider"
              },
              value: {
                text: 'Best Practice Network'
              }
            },
            {
              key: {
                text: "Mentors"
              },
              value: {
                text: 'Phoebe Reichel-Cormier'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}

        {# Hours of training #}
        <h2 class="govuk-heading-m govuk-!-margin-top-9">
          Hours of training
        </h2>
        
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: 'Phoebe Reichel-Cormier'
              },
              value: {
                text: "20 hours"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}

        {# Grant funding   #}
        <h2 class="govuk-heading-m govuk-!-margin-top-9">
          Grant funding
        </h2>
        
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Total hours"
              },
              value: {
                text: '20 hours'
              }
            },
            {
              key: {
                text: "Hourly rate"
              },
              value: {
                text: '£43.80'
              }
            },
            {
              key: {
                text: "Claim amount"
              },
              value: {
                text: '£876.00'
              }
            }
          ]
        }) }}

        <form method="post" action="/clawback">
          {{ govukButton({
            text: "Save and continue"
          }) }}
        </form>
  </div>
  
  <div class="govuk-grid-column-one-third">      
    {% include "_includes/clawback-update.njk" %}
  </div>

</div> 
 
{% endblock %}
