{% extends "layouts/main.html" %}

{% set dates %}
  <p class="govuk-notification-banner__heading">
    The service is open for claims. Deadline to submit claims is: 11:59pm on Friday 27 September 2024
  </p>
{% endset %}
{% set pageName = "Claim funding for mentor training" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukNotificationBanner({
      html: dates
    }) }}
  </div>
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageName }}</h1>
    <p class="govuk-body">
      Use this service to make a claim for the time spent becoming an initial teacher training (ITT) mentor.  
    </p>

    {# -------- SECTION --------- #}

    <h2 class="govuk-heading-m">Who can use this service</h2>

    <p class="govuk-body">
      You can use this service if you are a school or education organisation that:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        offers ITT placements with an accredited provider
      </li>
      <li>
        has at least one team member who has started or is due to start their ITT mentor training
      </li>
      <li>
        is registered with <a href="#" class="govuk-link">Get Information about Schools (GIAS)</a>
      </li>
    </ul>

    {# <p class="govuk-body">Note: This funding is not available for training early career framework (ECF) mentors. To claim for ECF mentors, <a href="#" class="govuk-link">you need a different service</a>.</p> #}

    {{ govukInsetText({
      html: '<p class="govuk-body">This funding is not available for training early career framework (ECF) mentors. To claim for ECF mentors, <a href="#" class="govuk-link">you need a different service</a>.</p>'
    }) }}

    {# -------- SECTION --------- #}

    <h2 class="govuk-heading-m">When to submit a claim</h2>


    <p class="govuk-body">
      For the school year starting September 2024: 
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        you can add your ITT mentor training hours and submit a claim from May 2025
      </li>
      <li>
        when you are registered in the service, we will email you reminders of claim opening dates and deadlines 
      </li>
    </ul>
    
    {# -------- SECTION --------- #}
    
    <h2 class="govuk-heading-m">Before you start</h2>
    
    <p class="govuk-body">
      You will be asked for:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the name of your ITT accredited provider 
      </li>
      <li>
        your mentors’ teacher reference numbers (TRN)
      </li>
      <li>
        your mentors’ dates of birth
      </li>
      <li>
        completed training hours – you should check these with your provider  
      </li>
    </ul>

    <p class="govuk-body">
      To access this service, you will be asked to sign in or create a Department for Education (DfE) Sign-in account. DfE Sign-in is how schools and other education organisations access DfE online services. 
    </p>

    <a href="/account/sign-in" role="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
      </svg>
    </a>

    {# -------- SECTION --------- #}

    <h2 class="govuk-heading-m">Get a claim funding for mentor training account</h2>
    <p class="govuk-body">
      Most eligible organisations will automatically be set up with an account to claim funding for mentor training.  
    </p>
    <p class="govuk-body">
      If you cannot access your organisation’s account, you may need to ask a colleague to add you. 
    </p>
    <p class="govuk-body">
      If your organisation is eligible but has not been set up with an account, send an email to <a href="mailto:ittmentor.funding@education.gov.uk" class="govuk-link">ittmentor.funding@education.gov.uk</a>. You will get a response within 5 days.    
    </p>

    {# -------- SECTION --------- #}

    <h2 class="govuk-heading-m">Latest news and updates</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="#" class="govuk-link">Payment of your funding claim for 2023 to 2024</a> 
      </li>
      <li>
        <a href="#" class="govuk-link">New guidance for submitting mentor evidence to DfE</a>
      </li>
      <li>
        <a href="#" class="govuk-link">Celebrating the success of the trial service</a>
      </li>
    </ul>

    <p class="govuk-body">
      <a href="#" class="govuk-link">View all news and updates</a>.    
    </p>

    
  </div>

  {# -------- SIDEBAR --------- #}

  <div class="govuk-grid-column-one-third">
    {{ xGovukRelatedNavigation({
      sections: [{
        items: [
        {
          text: "Guidance for placement schools and providers for initial teacher training (ITT)",
          href: "https://www.gov.uk/government/collections/initial-teacher-training"
        },
        {
          text: "Guidance for providers on initial teacher training (ITT)",
          href: "https://www.gov.uk/government/collections/initial-teacher-training"
        },
        {
          text: "Find out what a teacher reference number (TRN) is and how to find or request a TRN",
          href: "https://www.gov.uk/guidance/teacher-reference-number-trn"
        }
        ]
      }]
    }) }}
  </div>
</div>

{% endblock %}  